<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Python Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="centered-content">
        <h1>Input and Output with Python</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="instrument">Instrument:</label>
                <select id="instrument" name="instrument">
                    <option value="-">-</option>
                    <option value="SWAP">SWAP</option>
                    <option value="FUTURE">FUTURE</option>
                    <option value="BOND">BOND</option>
                    <option value="BOND FUTURE">BOND FUTURE</option>
                    <option value="ASW">ASW</option>
                    <option value="MD SWAP">MD SWAP</option>
                    <option value="XMKT SWAP">XMKT SWAP</option>
                    <option value="FX">FX</option>
                    <option value="OTHER/CIX">OTHER/CIX</option>
                    <option value="MY CIX">MY CIX</option>
                </select>
            </div>
            <div class="form-group">
                <label for="currency">Currency/Bond/Field:</label>
                <input type="text" id="currency" name="currency" required>
            </div>
            <div class="form-group">
                <label for="structure">Structure:</label>
                <input type="text" id="structure" name="structure" required>
            </div>
            <div class="form-group">
                <label for="against">Against (if EUGOV):</label>
                <input type="text" id="against" name="against">
            </div>
            <button type="submit" name="add_structure">Add Structure</button>
            <button type="submit" name="remove_last">Remove Last</button>
        </form>
        <h2>Trades</h2>
        <div class="centered-output">
            <div class="centered-table">
                {% for key, value in trades.items() %}
                    <h3>{{ key }}</h3>
                    <ul>
                        {% for item in value %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <h2>Data</h2>
        <form action="/" method="post">
            <div class="form-group">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>
            </div>
            <div class="form-group">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required>
            </div>
            <button type="submit" name="pull_bbg_data">Pull BBG Data</button>
        </form>
        {% if master %}
            <div class="centered-output">
                <div class="centered-table">
                    {{ master|safe }}
                </div>
            </div>
            <div class="centered-output">
                <div class="centered-table">
                    {{ stats|safe }}
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
